beautifulsoup4==4.11.1
bleach==5.0.1
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
coloredlogs==15.0.1
commonmark==0.9.1
cryptography==41.0.0
distlib==0.3.6
docutils==0.19
filelock==3.8.2
gitdb==4.0.10
GitPython==3.1.29
humanfriendly==10.0
identify==2.5.9
idna==3.4
importlib-metadata==5.1.0
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
keyring==23.11.0
MarkupSafe==2.1.1
more-itertools==9.0.0
nodeenv==1.7.0
pkginfo==1.9.2
platformdirs==2.6.0
pre-commit==2.20.0
pycparser==2.21
Pygments==2.13.0
pytz==2022.6
PyYAML==6.0
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
SecretStorage==3.3.3
semver==2.13.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
toml==0.10.2
twine==4.0.2
urllib3==1.26.13
verboselogs==1.7
virtualenv==20.17.1
webencodings==0.5.1
zipp==3.11.0
zope.interface==5.5.2
beautifulsoup4==4.11.1
bleach==5.0.1
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
coloredlogs==15.0.1
commonmark==0.9.1
cryptography==41.0.0
distlib==0.3.6
docutils==0.19
filelock==3.8.2
gitdb==4.0.10
GitPython==3.1.29
humanfriendly==10.0
identify==2.5.9
idna==3.4
importlib-metadata==5.1.0
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
keyring==23.11.0
MarkupSafe==2.1.1
more-itertools==9.0.0
nodeenv==1.7.0
pkginfo==1.9.2
platformdirs==2.6.0
pre-commit==2.20.0
pycparser==2.21
Pygments==2.13.0
pytz==2022.6
PyYAML==6.0
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
SecretStorage==3.3.3
semver==2.13.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
toml==0.10.2
twine==4.0.2
urllib3==1.26.13
verboselogs==1.7
virtualenv==20.17.1
webencodings==0.5.1
zipp==3.11.0
zope.interface==5.5.2
